---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...other } = Astro.props;
---

<div
  class={`leading-tight w-[46.9375rem] h-[14.875rem] flex flex-col items-center ${className}`}
  {...other}
>
  <div style="width: 100%; height: 100%; position: relative">
    <p
      style="left: 237px; top: 125px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Inter; font-weight: 400; line-height: 60px; letter-spacing: 0.24px; word-wrap: break-word"
    >
      JavaScript
    </p>
    <p
      style="left: 264px; top: 193px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 400; line-height: 45px; letter-spacing: 0.18px; word-wrap: break-word"
    >
      TypeScript
    </p>
    <p
      style="left: 228px; top: 57px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Inter; font-weight: 400; line-height: 60px; letter-spacing: 0.24px; word-wrap: break-word"
    >
      HTML
    </p>
    <p
      style="left: 389px; top: 57px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Inter; font-weight: 400; line-height: 60px; letter-spacing: 0.24px; word-wrap: break-word"
    >
      CSS
    </p>
    <p
      style="left: 457px; top: 23px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 30px; letter-spacing: 0.12px; word-wrap: break-word"
    >
      Sass
    </p>
    <p
      style="left: 300px; top: 0px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 400; line-height: 45px; letter-spacing: 0.18px; word-wrap: break-word"
    >
      Tailwind
    </p>
    <p
      style="left: 494px; top: 103px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 400; line-height: 45px; letter-spacing: 0.18px; word-wrap: break-word"
    >
      Design System
    </p>
    <p
      style="left: 122px; top: 103px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 400; line-height: 45px; letter-spacing: 0.18px; word-wrap: break-word"
    >
      React
    </p>
    <p
      style="left: 7px; top: 173px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 30px; letter-spacing: 0.12px; word-wrap: break-word"
    >
      Tanstack<br />Query
    </p>
    <p
      style="left: 35px; top: 89px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 30px; letter-spacing: 0.12px; word-wrap: break-word"
    >
      Next.js
    </p>
    <p
      style="left: 0px; top: 131px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 30px; letter-spacing: 0.12px; word-wrap: break-word"
    >
      Gatsby.js
    </p>
    <p
      style="left: 119px; top: 160px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 30px; letter-spacing: 0.12px; word-wrap: break-word"
    >
      GraphQL
    </p>
    <p
      style="left: 140px; top: 61px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 30px; letter-spacing: 0.12px; word-wrap: break-word"
    >
      Redux
    </p>
    <p
      style="left: 502px; top: 61px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 30px; letter-spacing: 0.12px; word-wrap: break-word"
    >
      Storybook
    </p>
    <p
      style="left: 494px; top: 160px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 30px; letter-spacing: 0.12px; word-wrap: break-word"
    >
      Bundlers
    </p>
    <p
      style="left: 466px; top: 202px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 30px; letter-spacing: 0.12px; word-wrap: break-word"
    >
      Rollup
    </p>
    <p
      style="left: 553px; top: 202px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 30px; letter-spacing: 0.12px; word-wrap: break-word"
    >
      Webpack
    </p>
    <p
      style="left: 190px; top: 23px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 30px; letter-spacing: 0.12px; word-wrap: break-word"
    >
      Zustand
    </p>
    <p
      style="left: 150px; top: 202px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 30px; letter-spacing: 0.12px; word-wrap: break-word"
    >
      REST API
    </p>
    <p
      style="left: 611px; top: 160px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 30px; letter-spacing: 0.12px; word-wrap: break-word"
    >
      Babel
    </p>
  </div>
  {
    /** <div class="flex mt-1">
    <div class="flex">
      <p class="text-[1.5rem] mt-7">Next.js</p>
      <div class="ml-2">
        <p class="text-[1.5rem] text-right">Redux</p>
        <p class="text-[2.25rem] text-right mt-3">React</p>
        <p class="text-[1.5rem] mt-3">GraphQL</p>
      </div>
    </div>
    <div class="ml-4">
      <div class="flex">
        <p class="text-[3rem]">HTML</p>
        <p class="text-[3rem] ml-6">CSS</p>
      </div>
      <p class="text-[3rem]">JavaScript</p>
    </div>
    <div class="ml-2">
      <p class="text-[1.5rem] ml-2">Storybook</p>
      <p class="text-[2.25rem]">Design System</p>
    </div>
  </div> **/
  }
</div>
