---
import iphone from "~/assets/work/iphone.svg?raw";
import { Image } from "astro:assets";
import myWork from "~/assets/work/teamwork-mobile.webp";
---

<div id="work-mobile" class="relative z-10 block min-h-[200vh] md:hidden">
  <div
    class="sticky"
    style="top: calc((max(-457px, (-457/1366 * 100vw)) + 100vh)/2);"
  >
    <div class="flex w-full justify-center">
      <div class="w-full">
        <div class="h-full w-full overflow-hidden">
          <div
            id="work-mobile__scale-object"
            class="left-0 top-0 z-10 flex h-full w-full scale-[1.25] transform flex-col items-center transition-transform will-change-transform"
          >
            <div
              class="relative h-full w-full [&>svg]:relative [&>svg]:z-10 [&>svg]:h-full [&>svg]:w-full"
            >
              <Fragment set:html={iphone} />
              <div class="absolute left-0 top-0 h-full w-full">
                <Image
                  class="h-full w-full rounded-[10%] object-cover py-[2.5%]"
                  src={myWork}
                  alt="My Work"
                />
                <div
                  class="absolute left-0 top-0 flex h-full w-full flex-col items-center justify-center overflow-hidden px-4 text-center"
                >
                  <h2 class="text-h5 font-bold text-white lg:text-h2">
                    My Work
                  </h2>
                  <p class="mt-3 text-p3 text-white lg:mt-4 lg:text-p2">
                    I&apos;ve worked both at a professional workplace, voluntary
                    projects, and also my own personal projects. <br />Scroll
                    down to see the work that I&apos;ve done!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let initialized = false;

  function debounce(func: () => void, wait: number) {
    let timeout: number;
    return () => {
      clearTimeout(timeout);
      timeout = setTimeout(() => {
        func();
      }, wait);
    };
  }

  function initScrollHandler() {
    const myWorkSection = document.getElementById("work-mobile");
    const myWorkSectionScaleObj = document.getElementById(
      "work-mobile__scale-object",
    );
    let wasInViewport = false;
    let coords: ReturnType<typeof getCoords>;

    function getCoords(elem: HTMLElement) {
      // crossbrowser version
      var box = elem.getBoundingClientRect();

      var body = document.body;
      var docEl = document.documentElement;

      var scrollTop = window.scrollY || docEl.scrollTop || body.scrollTop;
      var scrollLeft = window.scrollX || docEl.scrollLeft || body.scrollLeft;

      var clientTop = docEl.clientTop || body.clientTop || 0;
      var clientLeft = docEl.clientLeft || body.clientLeft || 0;

      var top = box.top + scrollTop - clientTop;
      var left = box.left + scrollLeft - clientLeft;

      return { top: Math.round(top), left: Math.round(left) };
    }

    document.addEventListener("DOMContentLoaded", () => {
      if (!myWorkSection) return;
      coords = getCoords(myWorkSection);
    });

    function calculate() {
      if (!coords || !myWorkSectionScaleObj) return;
      const vh = window.innerHeight / 100;
      const currentScroll = document.documentElement.scrollTop;
      const start = coords.top;
      const stop = coords.top + 200 * vh;
      if (currentScroll > start && currentScroll < stop) {
        const scale = Math.max(1.25 - (currentScroll - start) / 1400, 0.5);
        myWorkSectionScaleObj.style.transform = `scale(${scale}) translateZ(0.01)`;
        wasInViewport = true;
      } else if (wasInViewport) {
        if (currentScroll <= start) {
          myWorkSectionScaleObj.style.transform = "";
        } else {
          myWorkSectionScaleObj.style.transform = "scale(0.5)";
        }
        wasInViewport = false;
      }
    }

    const debouncedCalculate = debounce(calculate, 15);

    document.addEventListener("scroll", debouncedCalculate);

    initialized = true;
  }

  initScrollHandler();

  document.addEventListener("resize", () => {
    if (window.innerWidth < 768 && !initialized) {
      initScrollHandler();
    } else {
      initialized = false;
    }
  });
</script>
