---
import Blob from "../../components/astro/ui/Blob.astro";
import COMPFESTExperienceItem from "./ExperienceItems/COMPFESTExperienceItem.astro";
import SekelasExperienceItem from "./ExperienceItems/SekelasExperienceItem.astro";
import SirkaExperienceItem from "./ExperienceItems/SirkaExperienceItem.astro";
---

<div
  id="experience-section"
  class="relative h-full w-full max-w-full md:overflow-clip"
>
  <div
    class="absolute left-0 top-0 z-0 hidden h-[calc(100%-300px)] w-full md:block"
  >
    <div class="sticky left-0 top-0 h-screen w-full">
      <div class="absolute -right-[10rem] -top-[10rem] h-[30rem] w-[30rem]">
        <Blob variant="two" />
      </div>
      <div
        class="absolute -left-[6.25rem] -top-[6.25rem] h-[17.5rem] w-[17.5rem]"
      >
        <Blob variant="three" />
      </div>
      <div class="absolute -bottom-[15rem] -left-[15rem] h-[30rem] w-[30rem]">
        <Blob variant="one" />
      </div>
    </div>
  </div>
  <div class="relative z-10">
    <div class="h-60 md:min-h-screen"></div>
    <SirkaExperienceItem />
    <div class="h-20 md:min-h-[20vh]"></div>
    <COMPFESTExperienceItem />
    <div class="h-20 md:min-h-[20vh]"></div>
    <SekelasExperienceItem />
  </div>
  <div class="hidden h-[300px] md:block"></div>
</div>
