---
import Blob from "../../components/astro/ui/Blob.astro";
---

<div
  id="experience-section"
  class="min-h-[200vh] w-full max-w-full overflow-clip"
>
  <div class="sticky top-0 left-0 w-full h-screen">
    <div class="absolute w-[30rem] h-[30rem] -top-[10rem] -right-[10rem]">
      <Blob variant="two" />
    </div>
    <div
      class="absolute -top-[6.25rem] -left-[6.25rem] w-[17.5rem] h-[17.5rem]"
    >
      <Blob variant="three" />
    </div>
    <div class="absolute -bottom-[15rem] -left-[15rem] w-[30rem] h-[30rem]">
      <Blob variant="one" />
    </div>
  </div>
</div>
