---
import Blob from "../../components/astro/ui/Blob.astro";
import SirkaExperienceItem from "./ExperienceItems/SirkaExperienceItem.astro";
---

<div
  id="experience-section"
  class="relative w-full h-full max-w-full overflow-clip"
>
  <div class="absolute top-0 left-0 w-full h-[calc(100%-300px)]">
    <div class="sticky top-0 left-0 w-full h-screen">
      <div class="absolute w-[30rem] h-[30rem] -top-[10rem] -right-[10rem]">
        <Blob variant="two" />
      </div>
      <div
        class="absolute -top-[6.25rem] -left-[6.25rem] w-[17.5rem] h-[17.5rem]"
      >
        <Blob variant="three" />
      </div>
      <div class="absolute -bottom-[15rem] -left-[15rem] w-[30rem] h-[30rem]">
        <Blob variant="one" />
      </div>
    </div>
  </div>
  <SirkaExperienceItem />
  <SirkaExperienceItem />
  <div class="h-[300px]"></div>
</div>
