---
// interface Props {
//   desktopImages: Array<ImageMetadata>;
//   mobileImages: Array<ImageMetadata>;
//   companyName: string;
//   jobTitle: string;
//   companyDescription: string;
//   techstacks: Array<string>;
//   workPeriod: {
//     start: string;
//     end: string;
//   };
//   caseStudyURL: string;
// }

// const {
//   desktopImages,
//   mobileImages,
//   companyName,
//   jobTitle,
//   companyDescription,
//   techstacks,
//   workPeriod,
//   caseStudyURL,
// } = Astro.props;
---

<div class="flex justify-center items-center min-h-screen w-full">tes</div>
