---
import githubSvg from "~/assets/contact-information/github.svg?raw";
import emailSvg from "~/assets/contact-information/email.svg?raw";
import twitterSvg from "~/assets/contact-information/twitter.svg?raw";
import linkedinSvg from "~/assets/contact-information/linkedin.svg?raw";

const socials = [
  {
    html: githubSvg,
    href: "https://github.com/marioserano/",
  },
  {
    html: emailSvg,
    href: "mailto:marioserano55@gmail.com",
  },
  {
    html: twitterSvg,
    href: "https://www.twitter.com/itsmarioserano/",
  },
  {
    html: linkedinSvg,
    href: "https://www.linkedin.com/in/mario-serano/",
  },
];
---

<div id="contact" class="mt-28 flex flex-col items-center justify-center pb-24">
  <div class="mx-auto max-w-[48rem] px-4 text-center">
    <h2 class="text-h5 font-bold lg:text-h3">Contact Information</h2>
    <p class="mt-4 text-p3 md:mt-8 lg:text-p2">
      I&apos;m currently are available for new opportunities!<br />If you have
      any questions or are looking to hire me, you can find me in my socials.
    </p>
  </div>
  <div class="mt-8 flex items-center gap-4 md:gap-8">
    {
      socials.map((social) => (
        <a
          target="_blank"
          rel="noopener noreferrer"
          href={social.href}
          class="h-12 w-12 hover:opacity-75 md:h-20 md:w-20"
          set:html={social.html}
        />
      ))
    }
  </div>
</div>
