---
import mainPic from "../assets/hero/main-pic.webp";
import Button from "../components/astro/ui/Button.astro";
import Blob from "../components/astro/ui/Blob.astro";
---

<div class="flex w-full justify-center bg-primary-prussian-blue">
  <div
    class="flex w-full max-w-desktop flex-col overflow-hidden px-0 md:px-layout xl:h-[43.5rem] xl:flex-row xl:justify-between xl:space-x-9"
  >
    <div
      class="flex flex-col items-center justify-between px-4 pb-4 pt-24 md:h-[unset] md:min-h-0 md:justify-start md:pb-20 md:pt-40 xl:flex-1 xl:flex-shrink-[0.7] xl:items-start xl:pt-40"
    >
      <div class="text-center text-white xl:text-left">
        <h1 class="text-h5 font-bold lg:text-h1">Mario Serano</h1>
        <p
          class="mt-2 flex items-center justify-center space-x-3 md:mt-3 lg:text-p1 xl:justify-start"
        >
          <span class="min-w-max">frontend developer</span><span
            class="h-1 min-h-[0.25rem] w-1 min-w-[0.25rem] rounded-full bg-white"
          ></span><span class="min-w-max"
            >&#102;&#114;&#652;&#110;&#116;&#32;&#603;&#110;&#100;&#32;&#100;&#618;&#712;&#118;&#603;&#108;&#601;&#112;&#601;</span
          >
        </p>
        <p class="mt-4 text-p2 md:mt-6 lg:text-p1">
          I build websites that works and looks stunning in all platforms.
        </p>
      </div>
      <div
        class="mt-16 flex w-full flex-col justify-center space-y-2 md:mt-6 md:flex-row md:space-x-6 md:space-y-0 xl:justify-start"
      >
        <Button class="w-full md:w-[unset]">See my work</Button>
        <Button class="w-full md:w-[unset]" theme="secondary">
          Contact me
        </Button>
      </div>
    </div>
    <div
      class="relative flex max-h-screen min-h-[43.75rem] items-end px-4 xl:flex-1 xl:flex-shrink-[0.3]"
    >
      <div class="absolute h-full w-full">
        <div class="absolute left-0 top-0 z-10 w-[150px] md:w-[300px]">
          <Blob variant="one" />
        </div>
        <div class="absolute -left-20 top-48 w-[250px] md:w-[500px]">
          <Blob variant="two" />
        </div>
        <div
          class="absolute right-0 top-0 w-[250px] md:-right-28 md:top-32 md:w-[500px]"
        >
          <Blob variant="three" />
        </div>
      </div>
      <img
        src={mainPic.src}
        alt="Mario Serano's Photo"
        width={mainPic.width}
        height={mainPic.height}
        class="absolute left-1/2 top-0 z-10 h-full w-full -translate-x-1/2 object-cover object-top md:w-4/5 md:object-bottom xl:w-full xl:object-cover xl:object-top"
      />
    </div>
  </div>
</div>
